*{
     margin: 0px;
     padding: 0px;
     font-family: sans-serif;
} 
.midsection {
    
    width: 1320px;
}
.main1{
    width: 1320px;
    display: flex;
    margin-top: 50px;
    gap: 1%;
    padding: 10px;
}
.main2{
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-left: 60px;
}

.img4{
    margin-left: 715px;
    margin-top: -530px;

}
.img5{
    margin-left: 1135px;
    margin-top: -430px;

}